# Wait 250ms before repeating a key, then repeat 50 times/second
xset r rate 250 50

# Start up a screensaver, killing one if it exists
xscreensaver-command -exit
xscreensaver -no-splash &

# Set up some backgrounds
bash /home/prsteele/.fehbg