# Wait 250ms before repeating a key, then repeat 50 times/second
xset r rate 250 50

# Set caps to meta
setxkbmap -option caps:super

# Turn off the touchpad
synclient TouchpadOff=1

if [ -f ~/.bashrc ]; then
	source ~/.bashrc
fi

sh ~/.fehbg
